
#ldiv{
	top:0;
	left:0;
	height:500px;
	width:100px;
	border-style:solid;
	border-color:#000;
	position:fixed;
		background-color: red;	
		
}

#ldiv1{
	margin-top:40px;
		height:200px;
		width:100px;
	border-style:solid;
	border-color:black;
				background-color: purple;
		position: fixed;
	display: none;
}

#rdiv{
	background:transparent; 
	top:0;
	right:0;	
	height:500px;
	width:100px;
	border-style:solid;
	border-color:#000;	

	position: fixed;
}


#rdiv1{
	
	background:transparent; 
	display: none;
	margin-top:40px;
		height:300px;
		width:100px;
	border-style:solid;
	border-color:black;
			
}


#mdiv{
	margin-left: 100px;
	margin-top: 50px;
	
}