<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Read_registration</servlet-name>
        <servlet-class>myreg.Read_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>mypck.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_servlet</servlet-name>
        <servlet-class>loginpck.login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a1</servlet-name>
        <servlet-class>pck.a1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ans1</servlet-name>
        <servlet-class>answer.ans1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>midds</servlet-name>
        <servlet-class>myserv.midds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seacch</servlet-name>
        <servlet-class>xxxx.seacch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet2</servlet-name>
        <servlet-class>Everify.NewServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chck</servlet-name>
        <servlet-class>Everify.chck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Read_registration</servlet-name>
        <url-pattern>/Read_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_servlet</servlet-name>
        <url-pattern>/login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a1</servlet-name>
        <url-pattern>/a1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ans1</servlet-name>
        <url-pattern>/ans1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>midds</servlet-name>
        <url-pattern>/midds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seacch</servlet-name>
        <url-pattern>/seacch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet2</servlet-name>
        <url-pattern>/NewServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chck</servlet-name>
        <url-pattern>/chck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
